{{ define "doc" }}
{{ template "header" . }}	
<article>
    <header>
	<h2>{{ .Doc.Title }}</h2>
    <time pubdate='{{.Doc.Time.Format "2006-01-02" }}'>{{.Doc.Time.Format "2006-01-02"}}</time>
    </header>
	{{ .Doc.Content }}
</article>
{{ template "footer" }}
{{end}}
