{{ define "doc" }}
<article>
    <header>
        <h2><a href="/{{.SlugTitle}}">{{ .Title }}</a></h2>
    <time pubdate='{{ .Time.Format "2006-01-02" }}'>{{ .Time.Format "2006-01-02"}}</time>
    </header>
	{{ .Content }}
</article>
{{end}}
