{{ define "doc" }}
<article class="col-10">
    <header>
		<h3><a href="/{{.SlugTitle}}">{{ .Title }}</a></h3>
		<time pubdate='{{ .Time.Format "2006-01-02" }}'>{{ .Time.Format "2006-01-02"}}</time>
    </header>
	{{ .Content }}
</article>
{{end}}
