{{ define "title" }}{{ .Cfg.Title }}{{ end }}
{{ define "content" }}
    {{range .Docs }}
        <p style="text-align:left;"> <h3><a href="{{.Path}}" > {{.Title}}</a></h3>
        {{ $rl := len .Tags }}
        {{if gt $rl 0}}
        Tags:
            {{range  .Tags }}
                <span >{{ . }}</span>
            {{end}}
        {{ end }} 
        </p>
    {{end}}
{{end}}
