{{ define "index" }}
{{ template "header" . }}	
{{ range .Docs }}
    <article>
	<h2><a href="/{{.SlugTitle}}">{{ .Title }}</a></h2>
	<div>{{ .Content }}</div>
    </article>
{{ end }}
{{ template "footer" }}
{{end}}
