{{define "root"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Bla {{ .Server.Version }}" />
        <title>{{ template "title" . }}</title>
        {{range $path := .Server.StaticFiles}}
        {{with $pathExt := $path | ext }}
                {{ if eq $pathExt ".css"}}
                <link rel="stylesheet" href="{{ $.Cfg.BasePath }}/asset/{{$path | base}}">
                {{end}}
                {{ if eq $pathExt ".js"}}
                <script src="{{ $.Cfg.BasePath }}/asset/{{$path | base}}"></script>
                {{end}}
            {{end}}
        {{end}} 
    </head>
    <body>
    <div id="topbar">
        <div class="container">
            <h1><a href="{{ .Cfg.BasePath }}">{{ .Cfg.Title }}</a></h1>
        </div>
    </div>
    
    <div class="container">
        {{ template "sidebar" . }}
        {{ template "content" . }}
    </div>
    <div id="footer">
        {{ template "footer" . }}
    </div>
    </body>
</html>
{{end}}

{{define "doc"}}
<div class="article" >
    {{ .Parsed.First.Html }}
    {{ $rl := len .Related }}
    {{if gt $rl 0}}
    <p>Related article:
        <ul>
        {{range $key, $doc := .Related }}
            <li><a href="{{ $doc.Path }}" class="related">{{ $doc.Title }}</a></li>
        {{end}}
        </ul>
    </p>
    {{ end }} 
</div>
{{end}}

{{define "shortdoc"}}
<div class="article">
{{ .Parsed.First.Html }}
</div>
{{end}}

{{define "footer"}}
<p>{{.Cfg.Footer}} | powered by <a href="https://github.com/mengzhuo/bla">Bla</a></p>
{{ end }}


{{define "sidebar" }}
{{end}}

{{define "editor"}}
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript">
window.onload = function(){
tinymce.init({
    selector: ".article",
    inline: true,
    browser_spellcheck : true,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
};
</script>
{{end}}
