{{define "root"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content="Bla {{ .Server.Version }}" />
        <title>{{ template "title" . }}</title>
        {{range $path := .Server.StaticFiles}}
        {{with $pathExt := $path | ext }}
                {{ if eq $pathExt ".css"}}
                <link rel="stylesheet" href="/asset/{{$path | base}}">
                {{end}}
                {{ if eq $pathExt ".js"}}
                <script src="/asset/{{$path | base}}"></script>
                {{end}}
            {{end}}
        {{end}} 
    </head>
    <body>
    <div id="topbar">
        <h1><a href="{{ .Cfg.BaseURL }}">{{ .Cfg.Title }}</a></h1>
    </div>
    
    <div id="container">
        {{ template "content" . }}

        <div id="footer">
            {{ template "footer" . }}
        </div>
    </div>
    </body>
</html>
{{end}}

{{define "doc"}}
<article>
    {{ .Parsed.First.Html }}
    {{ $rl := len .Related }}
    {{if gt $rl 0}}
    <p>Related article:
        <ul>
        {{range .Related }}
            <li><a href="{{ .Path }}" class="related">{{ .Title }}</a></li>
        {{end}}
        </ul>
    </p>
    {{ end }} 
</article>
{{end}}

{{define "shortdoc"}}
{{ .Parsed.First.Html }}
{{end}}

{{define "footer"}}
<p>{{.Cfg.Footer}} | powered by <a href="https://github.com/mengzhuo/bla">Bla</a></p>
{{ end }}
