{{ define "single" }}
{{ template "header" . }}	
{{ template "doc" .Doc }}
<footer>
	<div class="tag-row">
		Tags:
		{{ range .Doc.Tags }}
			<a href="/tag/{{ . }}" class="btn-outline btn-small">{{.}}</a>
		{{end}}
	</div>
</footer>
{{ template "footer" }}
{{end}}
