{{ define "all" }}
{{ template "header" . }}	
<ul>
{{ range .Docs }}
	<li>
		<h3><a href="{{.SlugTitle}}">{{.Title}}</a></h3>
		{{ range $i, $t := .Tags }}
			<a href="/tags/{{$t}}" class="btn-outline btn-small">{{$t}}</a>
            {{if not $i }}&nbsp;|&nbsp;{{end}}
		{{end}}
	</li>

{{ end }}
</ul>
{{ template "footer" }}
{{end}}
