{{ define "all" }}
{{ template "header" . }}	
<ul>
{{ range .Docs }}
	<li>
		<h3><a href="{{.SlugTitle}}">{{.Title}}</a></h3>
		{{ range .Tags }}
			<a href="/tags/{{.}}">{{.}}</a>|
		{{end}}
	</li>

{{ end }}
</ul>
{{ template "footer" }}
{{end}}
