{{define "header" }}
    <!DOCTYPE html>
	<html>
		<head>
			<title>{{ template "title" . }}{{ .Hdl.Cfg.Title }}</title>
		    <link rel="stylesheet" href="/libs/css/base.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="generator" content="bla 1.0" />
<script>
    function dispatch() {
        var q = document.getElementById("q");
        if (q.value != "") {
            var url = '//www.google.com/search?q=site:mzh.io%20' + q.value;
                if (navigator.userAgent.indexOf('iPad') > -1 || navigator.userAgent.indexOf('iPhone') > -1 || navigator.userAgent.indexOf('iPhone') > -1) {
                            location.href = url;
                        } else {
                            window.open(url, "_blank");
                        }
                return false;
            } else {
                return false;
            }
    }
    </script>
		</head>
		<body >
            <header id="topbar">
		    <div class="container">
				<h1 ><a href="/">{{.Hdl.Cfg.Title}}</a></h1>
				<div class="menu">
					<a href="/about">关于</a>
					<a href="/all">全部</a>
					<form onsubmit="return dispatch()">
					    <input id="q" placeholder="Search" type="text">
					    </form>
				</div>
		    </div>
            </header>
            <main class="container">
{{end}}

{{define "title" }}{{ if .Title }}{{.Title}} - {{end}}{{end}}
