{{ define "tag_page" }}
{{ template "header" . }}	
<footer>
	<div>
        <h2>Tags: {{ .Title }}</h2>
        <hr/>
		{{ range .Docs }}
            {{ template "doc" . }}
		{{end}}
	</div>
</footer>
{{ template "footer" }}
{{end}}
