{{ define "doc" }}
<article >
    <header class="row">
		<h2><a href="/{{.SlugTitle}}">{{ .Title }}</a></h2>
        <div class="time"><time pubdate='{{ .Time.Format "2006-01-02" }}'>{{ .Time.Format "2006-01-02"}}</time></div>
    </header>
	{{ .Content }}
</article>
{{end}}
