{{define "header" }}
    <!DOCTYPE html>
	<html>
		<head>
			<title>{{ template "title" . }}{{ .Hdl.Cfg.Title }}</title>
		    <link rel="stylesheet" href="/libs/css/base.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="generator" content="bla 1.0" />
		</head>
		<body >
            <header id="topbar">
		    <div class="container">
				<h2 ><a href="/">{{.Hdl.Cfg.Title}}</a></h2>
		    </div>
            </header>
            <main class="container">
{{end}}

{{define "title" }}{{ if .Title }}{{.Title}} - {{end}}{{end}}
