{{define "header" }}
    <!DOCTYPE html>
	<html>
		<head>
			<title>{{ template "title" . }}{{ .Hdl.Cfg.Title }}</title>
		    <link rel="stylesheet" href="/libs/css/siimple.min.css">
<style>h1,h2,h3,h4,h5{margin-bottom:10px;}.time{margin-bottom:0.3em;font-style:italic;}</style>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body >
            <header class="grid">
				<h2 ><a href="/">{{.Hdl.Cfg.Title}}</a></h2>
            </header>
            <main class="grid">
{{end}}

{{define "title" }}{{ if .Title }}{{.Title}} - {{end}}{{end}}
