body{color:#222;margin:0;padding:0;font-family:Arial, sans-serif;line-height: 1.3em;}
a {color:#375EAB;text-decoration:none;}
a:hover {text-decoration: underline; }
#topbar {background-color:rgb(224, 235, 245);padding:0.5em 0;text-align:center;}
#topbar:after {content:"";display:block;clear:both;}
#topbar h1{margin:0.5em 0;font-size:1.5em;max-width:950px;text-align:left;}
#topbar a{color:#222;}

.container{padding:0 1.5em;margin:0 auto;text-align:left;max-width:950px;}
.container:after{content:"";display:block;clear:both;}
.article {text-align:left;}
p {word-wrap:break-word;}
#sidebar { float: right; padding-left: 20px; width: 40%; max-width: 250px; background: #F3F3F3; margin: 20px 0 20px 20px; text-align:left; }
#sidebar ul { padding: 0; }
#sidebar li { list-style-type: none; }
#footer {margin:3em 0 0;text-align:center;color:#666;}
#footer p {max-width:100%;}
.title {font-size:1.5em;margin:1em 0 0em;}
.editor {min-height:300px;padding-top:5px;}
.date {color:#888;font-size:0.6em;}
.submit {padding:0.3em 0.5em;}
pre, code {font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace;font-size:0.8em;}
pre {background: #EFEFEF; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
img {max-width:95% !important; height:auto;}
