[Unit]
Description=Bla blog service
Documentation=https://github.com/mengzhuo/bla
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bla -config /etc/bla/config.json -accesslog /var/log/bla/access.log
Restart=once
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=bla.service
